<%= form_with model: @user do |form| %>

  <% @user.errors.full_messages.each do |error|%>
  <div>
    <%= error %>
  </div>
  <%end%>

  <div>
    <%= form.label :username, value: "Enter your username"%>
    <%= form.text_field :username, placeholder: "Oding" %>
  </div>

  <div>
    <%= form.label :email, value: "Enter your email"%>
    <%= form.text_field :email, placeholder: "theodingproject@mail.com" %>
  </div>

  <div>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
